/* Estilos generales y reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  background-color: #0d1117;
  background-image: radial-gradient(
      circle at 20% 30%,
      #ff009d6b,
      transparent 40%
    ),
    radial-gradient(circle at 70% 60%, rgba(102, 0, 255, 0.2), transparent 50%),
    radial-gradient(circle at 40% 80%, rgba(255, 0, 102, 0.15), transparent 50%);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Encabezado */
.header {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.role {
  color: #fa85cdce;
  font-size: 2em;
  font-family: monospace;
}

.name {
  color: rgb(255, 249, 249);
  font-size: 3em;
}

h1 {
  padding: 1em 0;
}

/* Barra de navegación */
.navbar {
  display: flex;
  justify-content: center;
  align-items: top;
  font-size: 1.5em;
  font-family: monospace;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  font-size: 1em;
}

.navbar a {
  color: #fa85cdce;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5em 1em;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #502c3e;
}


.div-pfo-2{
  display: flex;
  gap: 1em;
}

/* Visitas */
.visitas {
  font-weight: bold;
  color: white;
  width: 10em;
  border-radius: 40px;
  padding: 1em;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  background: #c94b4b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4b134f,
    #c94b4b
  );
  background: linear-gradient(
    to right,
    #4b134f,
    #c94b86
  ); 
}

.visitas span {
  font-size: 1.5em;
}

#cuenta-regresiva {
  font-weight: bold;
  color: white;
  width: 25em;
  border-radius: 40px;
  padding: 1em;
  margin-top: 2em;
  background: #c94b4b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4b134f,
    #c94b4b
  );
  background: linear-gradient(
    to right,
    #4b134f,
    #c94b86
  ); 
}

#time{
  font-size: 1.5em;
}

/* Estilos generales para las secciones */
.section {
  width: 100vw;
  height: auto;
  padding: 3em 5em;
  max-width: 75em;
  margin: 0 auto;
  color: white;
}

.section h2 {
  color: #fa85cdce;
  padding: 0;
  margin: 0 0 0.5em 0;
  font-size: 3rem;
  text-align: center;
}

.sobre-mi-content .texto p:first-child {
  margin-top: 0;
}

/* Sección sobre mí*/
.sobre-mi-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
}

.sobre-mi-content .texto {
  flex: 1;
  min-width: 12em;
  padding-right: 4em;
}

.profile-img {
  width: 21em;
  height: 21em;
  object-position: top;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Tarjetas (proyectos)*/
.tarjeta {
  display: flex;
  height: 20em;
  flex-direction: row;
  background-color: #be54544b;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(255, 0, 106, 0.2);
  margin: 2rem 0;
}

.imagen-wrapper {
  flex: 7;
}

.imagen-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.imagen-wrapper {
  flex: 7; /*La imagen va a ocupar el 70% del contenedor*/
  overflow: hidden;
  position: relative;
}

.imagen-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  transform-origin: center center;
}

.imagen-wrapper:hover img {
  transform: scale(1.5) translate(-10px, -10px);
}
.tarjeta .texto {
  flex: 3; /*El texto solo ocupa el 30% del contenedor*/
  padding: 2rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0a0a0ab2;
}

.tarjeta .texto h3 {
  font-size: 1.6rem;
  color: #fa85cdce;
  margin-bottom: 1rem;
}

.tarjeta .texto p {
  font-size: 0.95rem;
  line-height: 1.5;
}

.tarjeta.invertida {
  flex-direction: row-reverse;
}

/* Sección de habilidades */
.habilidades-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.habilidades-col {
  flex: 1;
  min-width: 15em;
  background: rgba(255, 255, 255, 0.226);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.habilidades-col h3 {
  color: #fa85cdce;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #522440ce;
  text-align: center;
  font-size: 1.5em;
}

.habilidades-col ul {
  list-style-position: inside;
  list-style: none; /* elimina los estilos de la unorder list */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
  gap: 1.25em; /* espacio entre los íconos */
  padding: 0;
  margin: 0;
  justify-items: center;
  align-items: center;
}

.habilidades-col li {
  margin-bottom: 0.5rem;
  list-style: None;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icono {
  height: 4em;
  width: 4em;
}

/* Formulario de contacto */
.contact-form {
  max-width: 600px;
  margin: 0 auto;
  background: #88517350;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1.5rem;
}

.formulario_input {
  box-sizing: border-box;
  border: 1px solid transparent; /* Pone un borde invisible por defecto */
  padding: 0.5rem; /* Asegura un buen espacio interno */
  transition: border-color 0.3s ease; /* Suaviza el cambio de color */
}

.formulario_input:focus {
  border: 1px solid #fa85cdce; /* Cambia solo el color, no el tamaño */
  outline: none;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #fa85cdce;
  font-weight: bold;
  font-size: 1.2em;
}

.validacion-estado {
  position: absolute;
  right: 31%; /*de derecha a izquierda*/
  z-index: 100;
}

.input-error {
  font-size: 0.9em;
  display: none;
}

.input-error-activo {
  display: block;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.75rem;
  background-color: #ffa1db4f;
  color: white;
  font-weight: bold;
  border: None;
  border-radius: 4px;
  font-family: inherit;
  font-size: 1rem;
}

.form-group textarea {
  min-height: 7.5em;
}

.btn-submit {
  margin: auto;
  display: block;
  color: #410128;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #ffa1dbbe;
  font-weight: bold;
}

.btn-submit:hover {
  background-color: #ffa1db;
}

.validacion-estado {
  height: 1em;
  width: 1em;
}

/* ------- Estilos para validación -------- */
.formulario_grupo-incorrecto .formulario_input {
  color: rgb(255, 181, 181);
  border: 1px solid rgb(255, 0, 0);
}

.formulario_grupo-incorrecto label {
  color: red;
}

.formulario_grupo-incorrecto .input-error {
  font-size: 0.9em;
  display: block;
  color: red;
}

.formulario_grupo-correcto .formulario_input {
  color: rgb(255, 181, 181);
  border: 1px solid rgb(41, 226, 16);
}

.formulario_grupo-correcto .input-error {
  display: None;
  color: rgb(41, 226, 16);
}

.required {
  display: none;
}

.required-activo {
  display: block;
  color: red;
  font-weight: bold;
  margin-bottom: 1em;
}


#popup-confirmacion.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#popup-confirmacion.popup-activo {
  display: flex;
}

#popup-confirmacion.popup-inactivo{
  display: none;
}

.popup-contenido {
  background: rgba(255, 255, 255, 0.925);
  color: black;
  font-weight: bold;
  padding: 2em;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.popup-contenido button {
  margin-top: 1em;
  padding: 0.5em 1em;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-contenido button:hover {
  background: #43a047;
}

/* Sección de películas */
.peliculas-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75em, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.pelicula {
  background: #ffa1db4f;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pelicula img {
  width: 100%;
  height: 25em;
  object-fit: cover;
  filter: brightness(0.85);
}

.pelicula h3 {
  padding: 1rem 1rem 0;
  color: #ffa1db;
  font-size: 1.4rem;
  text-align: center;
  height: 4em;
  vertical-align: center;
}

.pelicula p {
  padding: 0 1rem 1rem;
  color: white;
  font-size: 0.95rem;
}

/* Pie de página */
.footer {
  color: white;
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 2rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.social-links img {
  height: 3em;
  width: 3em;
}
.social-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 1.2em;
  font-weight: bold;
}

/* Media queries para responsive*/
@media (max-width: 768px) {
  /*Barra de navegación*/
  .navbar ul {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  /*Sección sobre mí*/
  .sobre-mi-content {
    flex-direction: column;
  }

  .sobre-mi-content .texto {
    font-size: 0.8em;
    padding-right: 0%;
  }

  .profile-img {
    margin-top: 1rem;
    width: 10em;
    height: 10em;
  }

  /*Proyectos (tarjetas)*/
  .tarjeta {
    display: flex;
    height: 30em;
    flex-direction: column;
  }

  .tarjeta.invertida {
    flex-direction: column;
  }

  .tarjeta h2 {
    font-size: 1.1em;
  }

  .icono {
    height: 10vh;
    width: 10vw;
  }

  .div-pfo-2{
    flex-direction: column;
    align-items: center;
  }
}
